*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --AzulEscuro: #112B3C;
    --AzulClaro: #205375;
    --Laranja: #f66B0E;
    --Lanja: #FFA11B;
    --preto: #3F3F3F;
    --CinzaClaro: #EFEFEF;
    --largura: 960px;
    --padding: 90px;
}

body{
    background-color: aliceblue;
    font-family: sans-serif;
    max-width: 1440px;
    margin: auto;
}

/* FORMATANDO O HEADER */

.cabecalho {
    background-color: var(--AzulClaro);
    width: 1440px;
    padding: 15px 25px;
    display: flex;
    align-items: center; /* Centraliza verticalmente o conteúdo dentro do cabeçalho */
}

.cabecalho img {
    width: 85px;
    margin-left: 2em ;
}

.cabecalho h2 {
    color: var(--CinzaClaro);
    padding: 1em;
    margin-right: 10px; /* Adicione um espaço entre o h2 e o ícone do headset */
}

.bi-headset {
    color: var(--CinzaClaro);
    padding-left: .25em;
    margin-right: 5px;
    font-size: 2em;
}

.cabecalho p{
    color: var(--CinzaClaro);
}

.bi-person-circle {
    color: var(--CinzaClaro);
    padding-left: .25em;
    margin-right: 5px;
    font-size: 2em;
}

.numero{
    margin-right: 20em;
}

/* FORMATANDO A NAV */
.navegacao{
    background-color: var(--preto);
    padding: 1.5em;
    display: flex;
    align-items: center;
}

.navegacao .bi, p{
    color: var(--CinzaClaro);
    align-items: center;
}

.navegacao .bi-cart{
    font-size: 1.5em;
    margin-left: 8.5em;
    margin-right: 8px;
}

.navegacao .bi-cart:hover{
    color: var(--Laranja);
}

.navegacao input{
    color: var(--preto);
    width: 600px;
    border-radius: 20px;
    padding: 1em;
}

/* FORMATANDO A BARA DA NAV */
.barra{
    background-color: var(--Lanja);
    width: 1440px;
    margin-bottom: 3.5em;
    padding: 1em;
}

.barra ul{
    list-style: none;
}

.barra li{
    display: inline-block;
}

.barra a{
    text-decoration: none;
    margin-left: 56px;
    display: inline-block;
    color: var(--CinzaClaro);
    transition: .5s;
}

.barra a:hover{
    color: var(--AzulEscuro);
    transition: .5s;
}

/* FORMATANDO O BANNER */
.promo_banner{
    background-color: var(--AzulClaro);
    max-width: 100%;
}

.promo_banner img{
    width: 1440px;
}


/* FORMATANDO RETIRADA FRETE E DEVOLUÇÃO */

.servicos{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 5em;
    
}

.servicos div{
    width: 30%;
    height: 12em;
}

.servicos h3{
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.servicos p{
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


.retirada{
    background-image: url(../img/retirada.jpg);
    background-size: cover;
    background-position: center;   

}

.frete{
    background-image: url(../img/frete.jpg);
    background-size: cover;
    background-position: center;   
}

.devolucao{
    background-image: url(../img/devolucao.jpg);
    background-size: cover;
    background-position: center;   
}






/* Formatando a febre */
.titulo1 h2{
    background-color: var(--AzulClaro);
    color: var(--CinzaClaro);
    text-align: center;
    padding: 1em 0;
    font-size: 2.5em;
    font-weight: 900;
}

.titulo1 strong{
    color: var(--Laranja);
}


.secao_febre{
    max-width: 1440px;
    margin: auto;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.secao_febre article{
    background-color: rgb(255, 255, 255);
    margin: 8px;
    width: 40%;
    text-align: center;
}

.secao_febre img{
    width: 100%;
    margin-bottom: 8px;
}

.secao_febre h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: var(--preto);
    margin-bottom: 8px;
}
.secao_febre p{
    color: var(--preto);
}


/* FORMATANDO AS CATEGORIAS */

.div_container2{
    max-width: 1440px;
    margin: auto;
    padding: 16px;
}

.titulo2 h2{
    background-color: var(--AzulClaro);
    color: var(--CinzaClaro);
    text-align: center;
    padding: 1em 0;
    font-size: 2.5em;
    font-weight: 800;
}

.categorias{
    background-color: var(--CinzaClaro);
    margin: auto;
    padding: 16px;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.categorias div{
    margin: 16px;
    width: 55%;
}

.categorias h3{
    text-transform: uppercase;
    color: var(--CinzaClaro);
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


#div1{
    background-image: url(../img/escritorio.jpg);
    background-size: cover;
}

#div2{
    background-image: url(../img/material_escolar.jpg);
    background-size: cover;
}

#div3{
    background-image: url(../img/eletronico.jpg);
    background-size: cover;
    background-position: center;
}

#div4{
    background-image: url(../img/limpeza.jpg);
    background-size: cover;
}

#div5{
    background-image: url(../img/cafe.jpg);
    background-size: cover;
    background-position: left;
}

#div6{
    background-image: url(../img/mobiliario.jpg);
    background-size: cover;
}

#div7{
    background-image: url(../img/papelaria.jpg);
    background-size: cover;
}

#div8{
    background-image: url(../img/oferta.jpg);
    background-size: cover;
}

/* MATERIAL ESCOLAR EM DESTAQUE */
.titulo3 h2{
    background-color: var(--AzulClaro);
    color: var(--CinzaClaro);
    text-align: center;
    padding: 1em 0;
    font-size: 2.5em;
    font-weight:900;
}

.titulo3 strong{
    color: var(--Laranja);
}


.secao_destaque{
    max-width: 1440px;
    margin: auto;
    padding: 80px;
    display: flex;
    justify-content: space-between;
}

.secao_destaque article{
    background-color: rgb(255, 255, 255);
    margin: 8px;
    width: 40%;
    text-align: center;
}

.secao_destaque img{
    width: 100%;
    margin-bottom: 8px;
}

.secao_destaque h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: var(--preto);
    margin-bottom: 8px;
}
.secao_destaque p{
    color: var(--preto);
}

/* Formatando o "BOTÃO VER" */
.secao_botao{
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

article img{
    width: 25em;
}

article h2{
    position: absolute;
    font-size: 24px;
    width: 350px;
    margin: 16px 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 400px;
}

.secao_botao article .img02{
    height: 266.66px
}

.secao_botao input{
    background-color: var(--Laranja);
    width: 6%;
    padding: 8px;
    border-radius: 24px;
    text-transform: uppercase;
    position: absolute;
    margin-top: 120px;
    margin-left: 16px;
    color: var(--CinzaClaro);
}

/* FORMATANDO A IMG DO APP */
.app{
    max-width: 1440px;
    margin: auto;
    height: 500px;
}

.app img{
    width: 100%;
    height: 500px;
}

.app #pt1{
    position: absolute;
}

.app h2{
    font-size: 70px;
    width: 70%;
    color: var(--AzulClaro);
    margin-top: 100px;
}

.app p{
    color: var(--preto);
    margin-top: 200px;
    width: 25%;
    margin-left: 2em;
}

.app strong{
    color: var(--AzulClaro);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}

.app input{
    background-color: var(--AzulClaro);
    color: var(--CinzaClaro);
    text-transform: uppercase;
    border-radius: 20px;
    margin-left: 2em;
    width: 8%;
    padding: 10px;
    margin-top: 300px;
}

/* FORMATANDO O CARD */
.cartao{
    max-width: 1440px;
    display: flex;
}

.card{
    background-color: var(--Laranja);
    width: 720px;
    height: 400px;
    
}

.card h1{
    color: var(--CinzaClaro);
    font-weight: 700;
    font-size: 40px;
    width: 50%;
    padding: .75em;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.card p{
    text-transform: uppercase;
    font-size: 16px;
    width: 35%;
    line-height: 1.5;
    margin-left: 2em;
    margin-bottom: 10px;
}


.card input{
    width: 16%;
    padding: .75em;
    border-radius: 1.5em;
    border: none;
    margin-left: 2em;
    font-size: 15px;
    text-transform: uppercase;
}

.card2 #photo_card{
    background-image: url(../img/cartao_loja.jpg);
    width: 720px;
    height: 400px;
    background-size: cover;
    background-position: center;
}

/* FORMATANDO O RODAPÉ */

.rodape{
    background-color: var(--AzulClaro);
    width: 1440px;
    padding: .5em;
}

.rodape h4{
    color: var(--CinzaClaro);
    margin-right: 140px ;
    margin-bottom: 4px;
}

.rodape h3{
    color: var(--CinzaClaro);
    width: 100%;
    text-align: start;
}

.social_container{
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

.social_container .bi{
    margin-right: 5px;
}